.headerContainer {
	width: 100%;
	height: 10%;
	padding: 10px 0px 10px 10px;
}

.bodyContainer {
	height: 90%;
	width: 100%;
	background-color: #bdbdbd;
}

.feederList {
	display: inline-block;
	height: 300px;
	width: 20%;
	overflow: scroll;
	overflow-x: hidden;
}
.feederGraph {
	display: inline-block;
	width: 80%;
	height: 300px;
	text-align: center;
}

.bodyContainer > div > span {
	font-weight: bold;
}

.feederContainer {
	padding: 20px 5px 20px 5px;
}

.graphContainer {
	display: flex;
}

.dateContainer {
	float: right;
	display: block;
}

.graphDiv {
	width: 1000px;
	height: 300px;
}
